.project-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    margin: 20px;
    position: relative;
}

img {
    height: 100%;
}

.project-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30%;
}

.project-bg {
    position: relative;
    text-align: center;
}

.project-bg-btns {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-btn {
    background-color: var(--selected-color);
    color: #fff;
    border: none;
}

.project-btn:hover {
    background-color: var(--hover-color);
}

.modal-content.bg-dark {
    background-color: #343a40;
    color: white;
}

.tech-details {
    display: flex;
    justify-content: space-between;
    color: white;
}

.tech-column {
    width: 30%;
}

.tech-column h5 {
    color: #dd6b20;
    /* A cor laranja utilizada na imagem */
}

.tech-column p {
    margin: 5px 0;
}

.modal-header button{
    color: #fff;
}

.modal-content{
    background-image: url('../assets/imgs fundo/fundo2.jpg');
}